

@{
    ViewData["Title"] = "Create";
}


<div class="container my-5">
    <form class="forms-sample">

       
        <input type="file" class="form-control" id="customFile" />
        <div class="button my-3">

            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>

    </form>
</div>

