@*model List<Slider>

<section id="slider">
    <div class="owl-carousel slider">
        @foreach (var item in Model)
        {
            <div> <img src="~/img/@item.Image" alt=""> </div>
        }


    </div>

 
</section*@>